In [0]:
dbutils.fs.put("/FileStore/tables/null_values.csv",""" EMPNO,ENAME,JOB,MGR,HIREDATE,SAL,COMM,DEPTNO
7369,SMITH,CLERK,7902,1980-12-17,800,,20
7499,ALLEN,SALESMAN,7698,1981-02-20,1600,300,30
7521,WARD,SALESMAN,7698,1981-02-22,1250,500,30
7566,JONES,MANAGER,7839,1981-02-04,2975,,20
7654,MARTIN,SALESMAN,7698,1981-09-21,1250,1400,30
7698,BLAKE,MANAGER,7839,1981-01-05,2850,,30
7782,CLARK,MANAGER,7839,1981-09-06,2450,,10
7788,SCOTT,ANALYST,7566,1987-04-19,3000,,20
7839,KING,PRESIDENT,,1981-11-01,5000,,10
7844,TURNER,SALESMAN,7698,1981-08-09,1500,,30
7876,ADAMS,CLERK,7788,1987-05-23,1100,,20
7900,JAMES,CLERK,7698,1981-03-12,950,,30
7902,FORD,ANALYST,7566,1981-03-12,3000,,20
7934,MILLER,CLERK,7782,1982-03-01,1300,,10
""",True)

Wrote 664 bytes.
Out[1]: True

In [0]:
df=spark.read.option("nullvalues","null").csv("/FileStore/tables/null_values.csv",header=True,inferSchema=True)
display(df)

EMPNO,ENAME,JOB,MGR,HIREDATE,SAL,COMM,DEPTNO
7369,SMITH,CLERK,7902,1980-12-17,800,null,20
7499,ALLEN,SALESMAN,7698,1981-02-20,1600,300,30
7521,WARD,SALESMAN,7698,1981-02-22,1250,500,30
7566,JONES,MANAGER,7839,1981-02-04,2975,null,20
7654,MARTIN,SALESMAN,7698,1981-09-21,1250,1400,30
7698,BLAKE,MANAGER,7839,1981-01-05,2850,null,30
7782,CLARK,MANAGER,7839,1981-09-06,2450,null,10
7788,SCOTT,ANALYST,7566,1987-04-19,3000,null,20
7839,KING,PRESIDENT,null,1981-11-01,5000,null,10
7844,TURNER,SALESMAN,7698,1981-08-09,1500,null,30
7876,ADAMS,CLERK,7788,1987-05-23,1100,null,20
7900,JAMES,CLERK,7698,1981-03-12,950,null,30
7902,FORD,ANALYST,7566,1981-03-12,3000,null,20
7934,MILLER,CLERK,7782,1982-03-01,1300,null,10

In [0]:
from pyspark.sql.functions import *
df_null_count=df.select([count(when (col(c).isNull(),c)).alias(c) for c in df.columns])
display(df_null_count)

EMPNO,ENAME,JOB,MGR,HIREDATE,SAL,COMM,DEPTNO
0,0,0,1,0,0,11,0