In [0]:
dbutils.fs.put("/FileStore/tables/double_pipe.csv","""id||name||loc
1||ravi||Bangalore
2||Raj||Chennai
3||Mahesh||Hyderabad
4||Prasad||Chennai
5||Sridhar||Pune
""",True)

Wrote 106 bytes.
Out[1]: True

In [0]:
df=spark.read.csv("/FileStore/tables/double_pipe.csv",header=True,sep="||")
display(df)

id,name,loc
1,ravi,Bangalore
2,Raj,Chennai
3,Mahesh,Hyderabad
4,Prasad,Chennai
5,Sridhar,Pune

In [0]:
dbutils.fs.put("/FileStore/tables/multi_sep.csv","""id,name,loc,marks
1,ravi,Bangalore,35|45|55|65
2,Raj,Chennai,35|45|55|65
3,Mahesh,Hyderabad,35|45|55|65
4,Prasad,Chennai,35|45|55|65
5,Sridhar,Pune,35|45|55|65
""",True)

Wrote 160 bytes.
Out[5]: True

In [0]:
df1=spark.read.csv("/FileStore/tables/multi_sep.csv",header=True)
display(df1)

id,name,loc,marks
1,ravi,Bangalore,35|45|55|65
2,Raj,Chennai,35|45|55|65
3,Mahesh,Hyderabad,35|45|55|65
4,Prasad,Chennai,35|45|55|65
5,Sridhar,Pune,35|45|55|65

In [0]:
from pyspark.sql.functions import *
df2=df1.withColumn("marks_split",split(col("marks"),"\\|"))\
       .withColumn("marks_1",col("marks_split")[0])\
           .withColumn("marks_2",col("marks_split")[1])\
               .withColumn("marks_3",col("marks_split")[2])\
                   .withColumn("marks_4",col("marks_split")[3])\
       
display(df2)

id,name,loc,marks,marks_split,marks_1,marks_2,marks_3,marks_4
1,ravi,Bangalore,35|45|55|65,"List(35, 45, 55, 65)",35,45,55,65
2,Raj,Chennai,35|45|55|65,"List(35, 45, 55, 65)",35,45,55,65
3,Mahesh,Hyderabad,35|45|55|65,"List(35, 45, 55, 65)",35,45,55,65
4,Prasad,Chennai,35|45|55|65,"List(35, 45, 55, 65)",35,45,55,65
5,Sridhar,Pune,35|45|55|65,"List(35, 45, 55, 65)",35,45,55,65