In [0]:
dbutils.fs.put("/FileStore/tables/emp_data.csv","""EMPNO,ENAME,JOB,MGR,HIREDATE,SAL,COMM,DEPTNO
7369,SMITH,CLERK,7902,17-12-80,800,null,20
7499,ALLEN,SALESMAN,7698,20-02-81,1600,300,30
7521,WARD,SALESMAN,7698,22-02-81,1250,500,30
7566,JONES,MANAGER,7839,04-02-81,2975,null,20
7654,MARTIN,SALESMAN,7698,21-09-81,1250,1400,30
7698,SGR,MANAGER,7839,05-01-81,2850,null,30
7782,RAVI,MANAGER,7839,06-09-81,2450,null,10
7788,SCOTT,ANALYST,7566,19-04-87,3000,null,20
7839,KING,PRESIDENT,null,01-11-81,5000,null,10
7844,TURNER,SALESMAN,7698,09-08-81,1500,0,30
7876,ADAMS,CLERK,7788,23-05-87,1100,null,20
7900,JAMES,CLERK,7698,12-03-81,950,null,30
7902,FORD,ANALYST,7566,12-03-81,3000,null,20
7934,MILLER,CLERK,7782,01-03-82,1300,null,10
1234,SEKHAR,doctor,7777,31-12-99,667,78,80""",True)

Wrote 719 bytes.
Out[1]: True

In [0]:
df=spark.read.option("nullValue","null").csv("/FileStore/tables/emp_data.csv",header=True)
display(df)

EMPNO,ENAME,JOB,MGR,HIREDATE,SAL,COMM,DEPTNO
7369,SMITH,CLERK,7902,17-12-80,800,null,20
7499,ALLEN,SALESMAN,7698,20-02-81,1600,300,30
7521,WARD,SALESMAN,7698,22-02-81,1250,500,30
7566,JONES,MANAGER,7839,04-02-81,2975,null,20
7654,MARTIN,SALESMAN,7698,21-09-81,1250,1400,30
7698,SGR,MANAGER,7839,05-01-81,2850,null,30
7782,RAVI,MANAGER,7839,06-09-81,2450,null,10
7788,SCOTT,ANALYST,7566,19-04-87,3000,null,20
7839,KING,PRESIDENT,null,01-11-81,5000,null,10
7844,TURNER,SALESMAN,7698,09-08-81,1500,0,30
7876,ADAMS,CLERK,7788,23-05-87,1100,null,20
7900,JAMES,CLERK,7698,12-03-81,950,null,30
7902,FORD,ANALYST,7566,12-03-81,3000,null,20
7934,MILLER,CLERK,7782,01-03-82,1300,null,10
1234,SEKHAR,doctor,7777,31-12-99,667,78,80

In [0]:
from pyspark.sql.functions import *
#to_date to_date will convert string data type to date datatype and if we have date with different format we can use to date to change it to default spark format (yyyy-MM-dd)
df_date=df.withColumn("date",to_date(col('HIREDATE'),'dd-MM-yy'))
# date_format will conver date format to string format 
df_date_format=df_date.withColumn("date_format",date_format(col('date'),'yyyy.MM.dd'))
df_date_format.show()

+-----+------+---------+----+--------+----+----+------+----------+-----------+
|EMPNO| ENAME|      JOB| MGR|HIREDATE| SAL|COMM|DEPTNO|      date|date_format|
+-----+------+---------+----+--------+----+----+------+----------+-----------+
| 7369| SMITH|    CLERK|7902|17-12-80| 800|null|    20|2080-12-17| 2080.12.17|
| 7499| ALLEN| SALESMAN|7698|20-02-81|1600| 300|    30|2081-02-20| 2081.02.20|
| 7521|  WARD| SALESMAN|7698|22-02-81|1250| 500|    30|2081-02-22| 2081.02.22|
| 7566| JONES|  MANAGER|7839|04-02-81|2975|null|    20|2081-02-04| 2081.02.04|
| 7654|MARTIN| SALESMAN|7698|21-09-81|1250|1400|    30|2081-09-21| 2081.09.21|
| 7698|   SGR|  MANAGER|7839|05-01-81|2850|null|    30|2081-01-05| 2081.01.05|
| 7782|  RAVI|  MANAGER|7839|06-09-81|2450|null|    10|2081-09-06| 2081.09.06|
| 7788| SCOTT|  ANALYST|7566|19-04-87|3000|null|    20|2087-04-19| 2087.04.19|
| 7839|  KING|PRESIDENT|null|01-11-81|5000|null|    10|2081-11-01| 2081.11.01|
| 7844|TURNER| SALESMAN|7698|09-08-81|1500|   0|    30|2081-08-09| 2081.08.09|
| 7876| ADAMS|    CLERK|7788|23-05-87|1100|null|    20|2087-05-23| 2087.05.23|
| 7900| JAMES|    CLERK|7698|12-03-81| 950|null|    30|2081-03-12| 2081.03.12|
| 7902|  FORD|  ANALYST|7566|12-03-81|3000|null|    20|2081-03-12| 2081.03.12|
| 7934|MILLER|    CLERK|7782|01-03-82|1300|null|    10|2082-03-01| 2082.03.01|
| 1234|SEKHAR|   doctor|7777|31-12-99| 667|  78|    80|2099-12-31| 2099.12.31|
+-----+------+---------+----+--------+----+----+------+----------+-----------+

In [0]:
df_split=df_split = df.withColumn("day", expr("substring(HIREDATE, 1, 2)")) \
             .withColumn("month", expr("substring(HIREDATE, 4, 2)")) \
             .withColumn("year", expr("substring(HIREDATE, 7, 2)"))
df_split.show()

+-----+------+---------+----+--------+----+----+------+---+-----+----+
|EMPNO| ENAME|      JOB| MGR|HIREDATE| SAL|COMM|DEPTNO|day|month|year|
+-----+------+---------+----+--------+----+----+------+---+-----+----+
| 7369| SMITH|    CLERK|7902|17-12-80| 800|null|    20| 17|   12|  80|
| 7499| ALLEN| SALESMAN|7698|20-02-81|1600| 300|    30| 20|   02|  81|
| 7521|  WARD| SALESMAN|7698|22-02-81|1250| 500|    30| 22|   02|  81|
| 7566| JONES|  MANAGER|7839|04-02-81|2975|null|    20| 04|   02|  81|
| 7654|MARTIN| SALESMAN|7698|21-09-81|1250|1400|    30| 21|   09|  81|
| 7698|   SGR|  MANAGER|7839|05-01-81|2850|null|    30| 05|   01|  81|
| 7782|  RAVI|  MANAGER|7839|06-09-81|2450|null|    10| 06|   09|  81|
| 7788| SCOTT|  ANALYST|7566|19-04-87|3000|null|    20| 19|   04|  87|
| 7839|  KING|PRESIDENT|null|01-11-81|5000|null|    10| 01|   11|  81|
| 7844|TURNER| SALESMAN|7698|09-08-81|1500|   0|    30| 09|   08|  81|
| 7876| ADAMS|    CLERK|7788|23-05-87|1100|null|    20| 23|   05|  87|
| 7900| JAMES|    CLERK|7698|12-03-81| 950|null|    30| 12|   03|  81|
| 7902|  FORD|  ANALYST|7566|12-03-81|3000|null|    20| 12|   03|  81|
| 7934|MILLER|    CLERK|7782|01-03-82|1300|null|    10| 01|   03|  82|
| 1234|SEKHAR|   doctor|7777|31-12-99| 667|  78|    80| 31|   12|  99|
+-----+------+---------+----+--------+----+----+------+---+-----+----+

In [0]:
# Adjust the year to correct the century
df_adjusted = df_split.withColumn(
    "year",
    when(col("year").cast("int") > 50, concat(lit("19"), col("year")))
    .otherwise(concat(lit("20"), col("year")))
)
df_adjusted.show()

+-----+------+---------+----+--------+----+----+------+---+-----+----+
|EMPNO| ENAME|      JOB| MGR|HIREDATE| SAL|COMM|DEPTNO|day|month|year|
+-----+------+---------+----+--------+----+----+------+---+-----+----+
| 7369| SMITH|    CLERK|7902|17-12-80| 800|null|    20| 17|   12|1980|
| 7499| ALLEN| SALESMAN|7698|20-02-81|1600| 300|    30| 20|   02|1981|
| 7521|  WARD| SALESMAN|7698|22-02-81|1250| 500|    30| 22|   02|1981|
| 7566| JONES|  MANAGER|7839|04-02-81|2975|null|    20| 04|   02|1981|
| 7654|MARTIN| SALESMAN|7698|21-09-81|1250|1400|    30| 21|   09|1981|
| 7698|   SGR|  MANAGER|7839|05-01-81|2850|null|    30| 05|   01|1981|
| 7782|  RAVI|  MANAGER|7839|06-09-81|2450|null|    10| 06|   09|1981|
| 7788| SCOTT|  ANALYST|7566|19-04-87|3000|null|    20| 19|   04|1987|
| 7839|  KING|PRESIDENT|null|01-11-81|5000|null|    10| 01|   11|1981|
| 7844|TURNER| SALESMAN|7698|09-08-81|1500|   0|    30| 09|   08|1981|
| 7876| ADAMS|    CLERK|7788|23-05-87|1100|null|    20| 23|   05|1987|
| 7900| JAMES|    CLERK|7698|12-03-81| 950|null|    30| 12|   03|1981|
| 7902|  FORD|  ANALYST|7566|12-03-81|3000|null|    20| 12|   03|1981|
| 7934|MILLER|    CLERK|7782|01-03-82|1300|null|    10| 01|   03|1982|
| 1234|SEKHAR|   doctor|7777|31-12-99| 667|  78|    80| 31|   12|1999|
+-----+------+---------+----+--------+----+----+------+---+-----+----+

In [0]:
df_historical_date=df_adjusted.withColumn("hiredate_historical",concat_ws("-",col('day'),col('month'),col('year')))
df_historical_date.show()

+-----+------+---------+----+--------+----+----+------+---+-----+----+-------------------+
|EMPNO| ENAME|      JOB| MGR|HIREDATE| SAL|COMM|DEPTNO|day|month|year|hiredate_historical|
+-----+------+---------+----+--------+----+----+------+---+-----+----+-------------------+
| 7369| SMITH|    CLERK|7902|17-12-80| 800|null|    20| 17|   12|1980|         17-12-1980|
| 7499| ALLEN| SALESMAN|7698|20-02-81|1600| 300|    30| 20|   02|1981|         20-02-1981|
| 7521|  WARD| SALESMAN|7698|22-02-81|1250| 500|    30| 22|   02|1981|         22-02-1981|
| 7566| JONES|  MANAGER|7839|04-02-81|2975|null|    20| 04|   02|1981|         04-02-1981|
| 7654|MARTIN| SALESMAN|7698|21-09-81|1250|1400|    30| 21|   09|1981|         21-09-1981|
| 7698|   SGR|  MANAGER|7839|05-01-81|2850|null|    30| 05|   01|1981|         05-01-1981|
| 7782|  RAVI|  MANAGER|7839|06-09-81|2450|null|    10| 06|   09|1981|         06-09-1981|
| 7788| SCOTT|  ANALYST|7566|19-04-87|3000|null|    20| 19|   04|1987|         19-04-1987|
| 7839|  KING|PRESIDENT|null|01-11-81|5000|null|    10| 01|   11|1981|         01-11-1981|
| 7844|TURNER| SALESMAN|7698|09-08-81|1500|   0|    30| 09|   08|1981|         09-08-1981|
| 7876| ADAMS|    CLERK|7788|23-05-87|1100|null|    20| 23|   05|1987|         23-05-1987|
| 7900| JAMES|    CLERK|7698|12-03-81| 950|null|    30| 12|   03|1981|         12-03-1981|
| 7902|  FORD|  ANALYST|7566|12-03-81|3000|null|    20| 12|   03|1981|         12-03-1981|
| 7934|MILLER|    CLERK|7782|01-03-82|1300|null|    10| 01|   03|1982|         01-03-1982|
| 1234|SEKHAR|   doctor|7777|31-12-99| 667|  78|    80| 31|   12|1999|         31-12-1999|
+-----+------+---------+----+--------+----+----+------+---+-----+----+-------------------+